# ---------------------------------------------------------------------
# Local Disk
# ---------------------------------------------------------------------

LocalDiskPath: "C:\\Temp\\FluentStorage"

# ---------------------------------------------------------------------
# Azure Blob/Files/DataLake
# ---------------------------------------------------------------------

AzureClientId:
AzureClientSecret:
AzureTenantId:
AzureStorageName:
AzureStorageKey:
AzureDataLakeStorageName:
AzureDataLakeStorageKey:
AzureDataLakeOperatorObjectId:
AzureServiceBusConnectionString:
AzureKeyVaultUri:

# ---------------------------------------------------------------------
# AWS S3
# ---------------------------------------------------------------------

AwsAccessKeyId:
AwsSecretAccessKey:
AwsBucketName:
AwsBucketRegion:

# ---------------------------------------------------------------------
# GCP Storage
# ---------------------------------------------------------------------

GcpBucketName:
GcpJsonKey:

# ---------------------------------------------------------------------
# FTP
# ---------------------------------------------------------------------

FtpHost:
FtpUsername:
FtpPassword:

# ---------------------------------------------------------------------
# SFTP
# ---------------------------------------------------------------------

SftpHost:
SftpPort: 22
SftpUser:
SftpPassphrase:
SftpPrivateKeyPath: ".ssh\\id_ed25519"